# 404 if subdomain doesn't exist

server {
    listen ${NGINX_PORT};
    server_name thissubdomaindoesntexist.${NGINX_HOST};

	resolver 127.0.0.11 valid=10s ipv6=off;
	resolver_timeout 5s;

    location / {
        return 404;
    }
}