[submodule "backend-insalan.fr"]
	path = backend
	url = https://github.com/InsaLan/backend-insalan.fr.git
	branch = dev
[submodule "frontend-insalan.fr"]
	path = frontend
	url = https://github.com/InsaLan/frontend-insalan.fr.git
	branch = main
